﻿@{
    ViewBag.Title = "Home Page";
}
@section featured {


}
<ol class="round">
    <!--<li class="one">
        <h5>Getting Started</h5>
        ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
        enables a clean separation of concerns and that gives you full control over markup
        for enjoyable, agile development. ASP.NET MVC includes many features that enable
        fast, TDD-friendly development for creating sophisticated applications that use
        the latest web standards.
        <a href="http://go.microsoft.com/fwlink/?LinkId=245151">Learn more…</a>
    </li>

    <li class="two">
        <h5>Add NuGet packages and jump-start your coding</h5>
        NuGet makes it easy to install and update free libraries and tools.
        <a href="http://go.microsoft.com/fwlink/?LinkId=245153">Learn more…</a>
    </li>-->

    <!--<li class="three">
        <h5>Find Web Hosting</h5>
        You can easily find a web hosting company that offers the right mix of features
        and price for your applications.
        <a href="http://go.microsoft.com/fwlink/?LinkId=245157">Learn more…</a>
    </li>-->

    <div id="main-fullwidth">


        <div class="post-29 page type-page status-publish hentry post page clearfix" id="post-29">
            <h2 class="title">Nuestra Empresa</h2>


            <div class="entry clearfix">


                <p><span style="font-size: 14px;"><strong><span style="color: #00ccff;">¿Quiénes somos?:</span></strong></span></p>
                <div class="row-fluid">
                    <div class="span3 col-md-4">
                        <a href="http://www.geomex.es/wp-content/uploads/2014/01/perfilometría.png">
                            <img class="wp-image-127 alignright" src="http://www.geomex.es/wp-content/uploads/2014/01/perfilometría.png" alt="perfilometría" width="240" height="201" /></a>
                    </div>
                    <div class="span6">
                        <p>Somos una empresa de <strong>Ingeniería</strong>, especializada en <strong>perforación</strong> y manejo de <strong>explosivos en voladuras</strong>, tanto en <strong>Minería</strong> como en <strong>Obra Civil.</strong></p>
                        <p><strong>PYVAS </strong>es fundadora de la Asociación Nacional de Empresas de Voladuras y Explosivos en Perú (<strong>ANEVE</strong>) y Colaboradora con la Administración en materia de Seguridad Minera y Laboral (<strong>ECA</strong>).</p>
                        <p></p>
                    </div>
                </div>
                <p>Contamos con más de <strong>30 años de experiencia</strong> a lo largo de todo el territorio español, y disponemos de las siguientes autorizaciones:</p>
            </div>
            <div class="row-fluid ">
                <div class="col-md-9">
                    <ul>
                        <li>Autorización  para  la Utilización Habitual de Explosivos con Ámbito Nacional, estando registrados como <strong>Consumidores Habituales de Ámbito Nacional</strong></li>
                        <li>Certificado para realizar<strong> Voladuras Especiales</strong>, pudiendo realizar los siguientes tipos:</li>
                    </ul>
                    <p style="padding-left: 120px;">
                        <i class="icon-ok"></i>Grandes Voladuras<br />
                        <i class="icon-ok"></i>Voladuras bajo el agua<br />
                        <i class="icon-ok"></i>Demoliciones<br />
                        <i class="icon-ok"></i>Voladuras con riesgos peculiares<br />
                        <i class="icon-ok"></i>Voladuras próximas a instalaciones eléctricas<br />
                        <i class="icon-ok"></i>Voladuras próximas a emisión de ondas
                    </p>
                </div>
                <p>
                    <a href="http://www.geomex.es/wp-content/uploads/2014/01/700.jpg">
                        <img class="wp-image-216 alignright" src="http://www.geomex.es/wp-content/uploads/2014/01/700-300x300.jpg" alt="700" width="240" height="240" /></a>
                </p>
                
            </div>

        </div>
        <!-- Page ID 29 -->
    </div>
    <!-- #main-fullwidth -->


</ol>
