﻿@model PYVA.Models.EmpContratista
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-md-12 col-md-offset-0">
    <legend class="panel-primary">Crear Emp. Contratista</legend>
</div>
<div class="container col-md-12 bor" style="margin-top : 10px;">
    <div class="row">
        <div class="col-md-10 col-md-offset-3">
            <form action="/EmpContratista/create" method="post" class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">NombreEmpresaC</label>
                        <div class="col-sm-4">
                            @Html.EditorFor(model => model.NombreEmpresaC, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessage("NombreEmpresaC", new { @class = "text-danger" })

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Ruc</label>
                        <div class="col-sm-4">
                            @Html.EditorFor(model => model.Ruc, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessage("Ruc", new { @class = "text-danger" })

                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Representante</label>
                        <div class="col-sm-4">
                            @Html.EditorFor(model => model.Representante, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessage("Representante", new { @class = "text-danger" })

                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Direccion</label>
                        <div class="col-sm-4">
                            @Html.EditorFor(model => model.Direccion, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessage("Direccion", new { @class = "text-danger" })

                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Telefono</label>
                        <div class="col-sm-4">
                            @Html.EditorFor(model => model.Telefono, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessage("Telefono", new { @class = "text-danger" })

                        </div>
                    </div>
                    <div class="col-md-5 col-md-offset-3">
                        <div class="col-sm-4">
                            <a href="~/EmpContratista/index" class="btn btn-primary">
                                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>Volver
                            </a>
                        </div>
                        <div class="col-sm-2">
                            <button type="submit" class="btn btn-success" aria-hidden="true">
                                <span class="glyphicon glyphicon-ok"></span> Crear
                            </button>
                        </div>
                    </div>
            </form>
        </div>
    </div>
</div>

