﻿@model PYVA.Models.EmpContratista

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-md-12 col-md-offset-0">
    <legend class="panel-footer">Detalles Empresa Contratista</legend>
</div>
<div class="container panel-footer">
    <div class="row">
        <div class="col-md-10 col-md-offset-3">
            <form action="/trabajador/create" method="post" class="form-horizontal">
                
                    
                        <div>
                            <dl class="dl-horizontal">
                                <dt>
                                    Nombre EmpresaC :
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.NombreEmpresaC)
                                </dd>

                                <dt>
                                    RUC :
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Ruc)
                                </dd>

                                <dt>
                                    Representante :
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Representante)
                                </dd>

                                <dt>
                                    Direccion :
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Direccion)
                                </dd>

                                <dt>
                                    Telefono :
                                </dt>

                                <dd>
                                    @Html.DisplayFor(model => model.Telefono)
                                </dd>


                            </dl>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-4">
                                <a href="~/EmpContratista/index" class="btn btn-primary">
                                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>Volver
                                </a>
                            </div>
                            <div class="col-sm-4">
                                <a href="~/EmpContratista/Edit/@Html.DisplayFor(model => model.Id)" class="btn btn-primary">
                                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>Editar
                                </a>
                            </div>
                        </div>

            </form>
        </div>
    </div>
</div>

