﻿@{
    ViewBag.Title = "Inicio";
}

<h2>Empresa Contración</h2>

@if (TempData["UpdateSuccess"] != null)
{
    <div class="alert alert-success">@TempData["UpdateSuccess"]</div>
}

    <form action="/EmpContratista" method="get">

        <div class="row">
            <div class="col-md-5">
                <input type="text" name="query" class="form-control" placeholder="Buscar" />
            </div>
            <div class="col-md-3">
                <button class="btn btn-primary">Buscar</button>
            </div>
            <div class="col-md-2>

            </div>
            <div class="col-md-5">
                <a href="~/EmpContratista/create" class="btn btn-success">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Crear
                </a>
            </div>
        </div>
    </form>

    <table class="table table-striped" >
        <thead>
            <tr>
                <th>Nombre Empresa</th>
                <th>RUC</th>
                <th>Representante</th>
                <th>Direccion</th>
                <th>Telefono</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.NombreEmpresaC</td>
                    <td>@item.Ruc</td>
                    <td>@item.Representante</td>
                    <td>@item.Direccion</td>
                    <td>@item.Telefono</td>
                    <td>
                        @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Detalles", "Details", new { id = item.Id }) |
                        @Html.ActionLink("Eliminar", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }
        </tbody>
    </table>
