﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>@ViewBag.Title - Perforacion y Voladura Adolfitos</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <script type="text/javascript" src="/scripts/jquery.min.js"></script>
    <script type="text/javascript" src="/scripts/moment.min.js"></script>
    <script type="text/javascript" src="/scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="/scripts/bootstrap-datetimepicker.js"></script>


    <link rel="stylesheet" href="/Content/bootstrap-datetimepicker.css" />

    <script type="text/javascript">
        $(function () {
            $('#datetimepicker1').datetimepicker({
                format: 'DD/MM/YYYY'
            });
            $('#datetimepicker2').datetimepicker({
                format: 'DD/MM/YYYY'
            });
            $('#datetimepicker3').datetimepicker({
                format: 'MM/DD/YYYY'
            });
            $('#datetimepicker4').datetimepicker({
                format: 'MM/DD/YYYY'
            });
        });
    </script>

    @*<script type="text/javascript">
        $(function () {
            $('#datetimepicker1').datetimepicker();
        });
        </script>*@

</head>

<body>
    @RenderSection("featured", required: false)


    @RenderSection("scripts", required: false)
    <!-- Fixed navbar -->
    <nav  class="navbar navbar-wrapper navbar-inverse animate">
        <div class="container container-container ">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">P.Y.V.A.S. SAC</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active">@Html.ActionLink("Inicio", "Index", "Home")</li>
                    <li>@Html.ActionLink("Trabajador", "Index", "Trabajador")</li>
                    <li>@Html.ActionLink("Proyecto", "Index", "Proyecto")</li>
                    <li>@Html.ActionLink("Epp", "Index", "Epp")</li>
                    <li>@Html.ActionLink("E.Contratista", "Index", "EmpContratista")</li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="../navbar/">Default</a></li>
                    <li><a href="../navbar-static-top/">Static top</a></li>
                    <li class="active"><a href="./">Fixed top <span class="sr-only">(current)</span></a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>

    <div>
        <hr />
        <hr />
    </div>

    <div class="container">
        @RenderBody()

    </div>

    <footer class="bs-footer" role="contentinfo">
        <div class="container text-center">
            <hr />
            <div class="well well-sm">
                <p>&copy; @DateTime.Now.Year - Desarrollado por <a hreft="http://adolfitossoft.com">ADOLFITOSSOFT</a> </p>
            </div>
            <div id="top-social-profiles">

                <a href="http://twitter.com/" target="_blank">
                    <img title="Twitter" alt="Twitter" src="http://www.geomex.es/wp-content/themes/Smart/images/social-profiles/twitter.png" /></a>
                <a href="http://facebook.com/" target="_blank">
                    <img title="Facebook" alt="Facebook" src="http://www.geomex.es/wp-content/themes/Smart/images/social-profiles/facebook.png" /></a>
                <a href="http://www.linkedin.com/" target="_blank">
                    <img title="LinkedIn" alt="LinkedIn" src="http://www.geomex.es/wp-content/themes/Smart/images/social-profiles/linkedin.png" /></a>
                <a href="http://www.geomex.es/feed/" target="_blank">
                    <img title="RSS Feed" alt="RSS Feed" src="http://www.geomex.es/wp-content/themes/Smart/images/social-profiles/rss.png" /></a>
                <a href="mailto:your@email.com" target="_blank">
                    <img title="Email" alt="Email" src="http://www.geomex.es/wp-content/themes/Smart/images/social-profiles/email.png" /></a>

            </div>
        </div>
    </footer>
</body>
</html>
