﻿
@*<form action="/proyecto/item" method="get">

    <div class="row">
        <div class="col-md-3">
            <input type="text" name="query" class="form-control" placeholder="Buscar" />
        </div>
        <div class="col-md-2">
            <select class="form-control" name="activo">
                <option>Todos</option>
                <option value=true>Activo</option>
                <option value=false>No Activos</option>
            </select>
        </div>
        <div class="col-md-2">
            <button class="btn btn-primary">Buscar</button>
        </div>
    </div>
</form>*@

<table class="table table-striped">
    <thead>
        <tr>
            <th>DNI</th>
            <th>Nombres</th>
            <th>FechaIngreso</th>
            <th>Telefono</th>
            <th>Cargo</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Dni</td>
                <td>@item.NombreCompleto</td>
                <td>@item.FechaIngreso.ToShortDateString()</td>
                <td>@item.Telefono</td>
                <td>@item.Cargo.NombreCargo</td>
                <td class="col-md-1">
                    <input type="text" class="form-control" name="Trabajador[@ViewBag.Position].Cantidad">
                    <input type="hidden" class="form-control" name="Trabajador[@ViewBag.Position].Id" value="@Model.Id">
                </td>
            </tr>
        }
    </tbody>
</table>