﻿@model PYVA.Models.Proyecto

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-12 col-md-offset-0">
    <legend class="panel-primary">Crear Proyecto</legend>
</div>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <div class="container">
        <div class="form-group col-xs-6">
            <label class="control-label">Descripcion</label>
            <div>
                @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessage("Descripcion", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group col-xs-6">
            <label control-label">Tipo de Proyecto</label>
            <div>
                @Html.DropDownList("IdTipoOperacion", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessage("IdTipoOperacion", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group col-xs-6">
            <label control-label">Empresa Contratista</label>
            <div>
                @Html.DropDownList("IdEmpContratista", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessage("IdEmpContratista", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group col-xs-6">
            <label control-label">Ubicacion</label>
            <div>
                @Html.EditorFor(model => model.Ubicacion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessage("Ubicacion", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group col-xs-6">
            <label control-label">Fecha Inicio</label>
            <div>
                @Html.EditorFor(model => model.FechaInicio, new { htmlAttributes = new { id = "datetimepicker1", @class = "form-control" } })
                @Html.ValidationMessage("FechaInicio", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group col-xs-6">
            <label control-label">Fecha Estimada de Fin</label>
            <div>
                @Html.EditorFor(model => model.FechaEstimadaFin, new { htmlAttributes = new { id = "datetimepicker2", @class = "form-control" } })
                @Html.ValidationMessage("FechaEstimadaFin", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group col-xs-6">
            <label control-label">Costo S/.</label>
            <div>
                @Html.EditorFor(model => model.Costo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessage("Costo", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group col-xs-6">
            <div>
                <label control-label">Activo</label>
                @Html.EditorFor(model => model.Activo, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6" style="height: 300px; overflow-y: scroll;">
            <label for="">Trabajadores para añadir al Proyecto</label>
            <div class="form-group">
                <div class="col-md-3">
                    <input type="text" name="query" class="form-control" placeholder="Buscar" />
                </div>
                <div class="col-md-2">
                    <button class="btn btn-primary">Buscar</button>
                </div>
            </div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>DNI</th>
                        <th>Nombres</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in ViewBag.trabajador)
                    {
                        <tr>
                            <td>@item.Dni</td>
                            <td>@item.NombreCompleto</td>
                            <th>
                                <button type="submit" name="operacion" value="agregar-detalle-@item.Id" aria-hidden="true" class="btn btn-success btn-xs">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </button>
                            </th>

                        </tr>
                    }
                </tbody>
            </table>

        </div>
        <div class="col-md-6" style="height: 300px; overflow-y: scroll;" >
            <label for="">Trabajadores añadidos al Proyecto</label>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Trabajador</th>
                        <th>NombrePuesto</th>
                        <th>Accion</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null && Model.TrabajadorProyecto != null && Model.TrabajadorProyecto.Count > 0)
                    {
                        var i = 0;
                        foreach (var item in Model.TrabajadorProyecto)
                        {
                            <tr>
                                <td>@Html.DropDownList("TrabajadorProyecto[" + i + "].IdTrabajador", new SelectList(ViewBag.trabajador, "Id", "Nombres", ViewBag.DataTrabajadorID), new { @readonly = "true" })</td>    @*, new { @disabled = "disabled" }
                                @*<td>@Html.TextBox("TrabajadorProyecto[" + i + "].IdTrabajador", (int)ViewBag.DataTrabajadorID)*@
                                <td>@Html.TextBox("TrabajadorProyecto[" + i + "].NombrePuesto", item.NombrePuesto, new { htmlAttributes = new { @class = "form-control" } })</td>
                                @Html.Hidden("TrabajadorProyecto[" + i + "].Activo", true, new { htmlAttributes = new { @class = "form-control" } })
                                <td>
                                    <button type="submit" name="operacion" value="eliminar-detalle-@i" aria-hidden="true" class="btn btn-danger btn-xs">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </button>
                                </td>


                                <td>@Html.ValidationMessage("TrabajadorProyecto[" + i + "].IdTrabajador", new { @class = "text-danger" })</td>
                                <td>@Html.ValidationMessage("TrabajadorProyecto[" + i + "].NombrePuesto", new { @class = "text-danger" })</td>
                            </tr>
                            i++;
                        }
                    }
                </tbody>
            </table>

        </div>
    </div>


    <div class="row">
        <div class="col-sm-6">
            <a href="~/proyecto/index" class="btn btn-primary">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>Volver
            </a>
        </div>
        <div class="col-sm-6">
            <button type="submit" class="btn btn-success" aria-hidden="true">
                <span class="glyphicon glyphicon-ok"></span> Crear
            </button>
        </div>
    </div>


}
