﻿@model PYVA.Models.Proyecto

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-12 col-md-offset-0">
    <legend class="panel-footer">Detalle Proyecto</legend>
</div>
<div class="container panel-footer">
    <div class="row">
        <div class="col-md-10 col-md-offset-3">
            <form action="/trabajador/create" method="post" class="form-horizontal">
               
                    <div>
                        <h4>Proyecto</h4>
                        <hr />
                        <dl class="dl-horizontal">
                            <dt>
                                Descripcion :
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Descripcion)
                            </dd>

                            <dt>
                                Ubicacion :
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Ubicacion)
                            </dd>

                            <dt>
                                Fecha de Inicio :
                            </dt>

                            <dd>
                                @Model.FechaInicio.ToShortDateString()
                            </dd>

                            <dt>
                                Fecha de Fin(Est.) :
                            </dt>

                            <dd>
                                @Model.FechaEstimadaFin.ToShortDateString()
                            </dd>

                            <dt>
                                Activo :
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Activo)
                            </dd>

                            <dt>
                                Costo S/.
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Costo)
                            </dd>

                            <dt>
                                Empresa Contratista :
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.EmpContratista.NombreEmpresaC)
                            </dd>

                            <dt>
                                Tipo de Operacion :
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.TipoOperacion.Descripcion)
                            </dd>

                        </dl>
                    </div>


                    <div class="form-group">
                        <div class="col-sm-4">
                            <a href="~/proyecto/index" class="btn btn-primary">
                                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>Volver
                            </a>
                        </div>
                        <div class="col-sm-4">
                            <a href="~/proyecto/Edit/@Html.DisplayFor(model => model.Id)" class="btn btn-danger">
                                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>Editar
                            </a>
                        </div>
                    </div>
            </form>
        </div>
    </div>
</div>
