﻿@model PYVA.Models.Proyecto

<div class="col-md-12 col-md-offset-0">
    <legend class="panel-warning">Editar Proyecto</legend>
    <legend class="panel-warning"></legend>
</div>
<form action="/proyecto/edit/@Model.Id" method="post" class="form-horizontal">

    <div class="form-group">
        <label class="col-sm-2 control-label">Descripcion</label>
        <div class="col-sm-4">
            @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Descripcion)
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Tipo de Proyecto</label>
        <div class="col-sm-4">
            @Html.DropDownList("IdTipoOperacion")
            @Html.ValidationMessageFor(model => model.IdTipoOperacion)
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Empresa Contratista</label>
        <div class="col-sm-4">
            @Html.DropDownList("IdEmpContratista")
            @Html.ValidationMessageFor(model => model.IdEmpContratista)
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Ubicacion</label>
        <div class="col-sm-4">
            @Html.EditorFor(model => model.Ubicacion, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Ubicacion)
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Fecha Inicio</label>
        <div class="col-sm-4">
            @Html.EditorFor(model => model.FechaInicio, new { htmlAttributes = new { id = "datetimepicker1", @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.FechaInicio)
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Fecha Estimada de Fin</label>
        <div class="col-sm-4">
            @Html.EditorFor(model => model.FechaEstimadaFin, new { htmlAttributes = new { id = "datetimepicker2", @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.FechaEstimadaFin)
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Costo S/.</label>
        <div class="col-sm-4">
            @Html.EditorFor(model => model.Costo, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Costo)
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Activo</label>
        <div class="col-sm-4">
            @Html.EditorFor(model => model.Activo, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-4">
            <a href="~/proyecto/index" class="btn btn-primary">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>Volver
            </a>
        </div>
        <div class="col-sm-4">
            <button class="btn btn-success glyphicon glyphicon-plus"> GUARDAR</button>
        </div>
    </div>


</form>

