﻿@{
    ViewBag.Title = "Inicio";
}

<h2>Proyectos</h2>

@if (TempData["UpdateSuccess"] != null)
{
    <div class="alert alert-success">@TempData["UpdateSuccess"]</div>
}


<form action="/proyecto" method="get">

    <div class="row">
        <div class="col-md-6 table-bordered">
            <h4>Busqueda de Proyectos</h4>
            <div class="">
                <label>Descripcion</label>
                <input type="text" name="query" class="form-control" placeholder="Buscar" />
            </div>
        </div>

        <div class="col-md-3 table-bordered">
            <h4>Filtro de Fechas</h4>
            
            <div> <label>Desde</label> @Html.Editor("fecha1", new { htmlAttributes = new { id = "datetimepicker3", @class = "form-control" , @placeholder="MM/DD/YYYY"} } ) </div>
            
            <div> <label>Hasta</label> @Html.Editor("fecha2", new { htmlAttributes = new { id = "datetimepicker4", @class = "form-control", @placeholder = "MM/DD/YYYY" } }) </div>

        </div>
        <div class="col-md-3 table-bordered" style="text-align:center " >
            <h4> - </h4>
            <button class="btn btn-primary glyphicon glyphicon-search">Buscar</button>
            <a href="~/proyecto/create" class="btn btn-success">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Crear
            </a>
        </div>
    </div>


</form>


<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Descripcion</th>
            <th>Activo</th>
            <th>Emp.Contratista</th>
            <th>F.Inicio</th>
            <th>Operacion</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Descripcion</td>
                <td><input type="checkbox" checked="@item.Activo" disabled="disabled"/> </td>
                <td>@item.EmpContratista.NombreEmpresaC</td>
                <td>@item.FechaInicio.ToShortDateString()</td>
                <td>@item.TipoOperacion.Descripcion</td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Detalles", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>


