﻿@model PYVA.Models.Trabajador

@{
    ViewBag.Title = "AsignarEpp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Asignar EPP</h2>

<form action="/trabajador/asignarepp" method="post" class="form-horizontal">
    @*@using (Html.BeginForm())
        {*@
    <div class="row">
        <div class="col-md-6" style="height: 300px; overflow-y: scroll;">
            <label for="">Trabajadores para añadir al Proyecto</label>
            <div class="form-group">
                <div class="col-md-3">
                    <input type="text" name="query" class="form-control" placeholder="Buscar" />
                </div>
                <div class="col-md-2">
                    <button class="btn btn-primary">Buscar</button>
                </div>
            </div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>DNI</th>
                        <th>Nombres</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in ViewBag.trabajador)
                    {
                        <tr>
                            <td>@item.Dni</td>
                            <td>@item.NombreCompleto</td>
                            <th>
                                <button type="submit" name="operacion" value="agregar-detalle-@item.Id" aria-hidden="true" class="btn btn-success btn-xs">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </button>
                            </th>
                        </tr>
                    }
                </tbody>
            </table>

        </div>


        <div class="col-md-6" style="height: 300px; overflow-y: scroll;">
            <label for="">Añadir Epp al Trabajador</label>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Trabajador</th>
                        <th>Epp</th>
                        <th>FechaEntrega</th>
                        <th>FechaRenovacion</th>
                        <th>Accion</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null && Model.AsignarEPP != null && Model.AsignarEPP.Count > 0)
                    {
                        var i = 0;
                        foreach (var item in Model.AsignarEPP)
                        {
                            <tr>
                                <td>@Html.DropDownList("AsignarEpp[" + i + "].IdTrabajador", new SelectList(ViewBag.trabajador, "Id", "Nombres", ViewBag.DataTrabajadorID), new { @readonly = "true" })</td>@*, new { @disabled = "disabled" }*@
                                <td>@Html.DropDownList("AsignarEpp[" + i + "].IdEpp", new SelectList(ViewBag.epp, "Id", "Nombre"), new { @readonly = "true" })</td>@*, new { @disabled = "disabled" }*@
                                <td>@Html.TextBox("AsignarEpp[" + i + "].FechaEntrega", item.FechaEntrega, new { htmlAttributes = new { id = "datetimepicker1", @class = "form-control" } })</td>
                                <td>@Html.TextBox("AsignarEpp[" + i + "].FechaRenovacion", item.FechaRenovacion, new { htmlAttributes = new { id = "datetimepicker2", @class = "form-control" } })</td>
                                <td>@Html.Editor("AsignarEpp[" + i + "].Estado", item.Estado, new { htmlAttributes = new { @class = "form-control" } })</td>
                                <td>
                                    <button type="submit" name="operacion" value="eliminar-detalle-@i" aria-hidden="true" class="btn btn-danger btn-xs">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </button>
                                </td>
                                <td>@Html.ValidationMessage("AsignarEpp[" + i + "].IdEpp", new { @class = "text-danger" })</td>
                            </tr>
                            i++;
                        }
                    }
                </tbody>
            </table>

        </div>

        <div class="row">
            <div>
                <a href="~/trabajador/index" class="btn btn-primary">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>Volver
                </a>
            </div>
            <div>
                <button type="submit" class="btn btn-success" aria-hidden="true">
                    <span class="glyphicon glyphicon-ok"></span> Crear
                </button>
            </div>
        </div>


    </div>


</form>



@*}*@
