﻿@model PYVA.Models.Trabajador

@*<form action="/trabajador/Asignar/" method="get">

    
</form>*@
 

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <input type="text" name="query" class="form-control" placeholder="Buscar" />
        </div>
        <div class="col-md-2">
            <select class="form-control" name="activo">
                <option>Todos</option>
                <option value=true>Activo</option>
                <option value=false>No Activos</option>
            </select>
        </div>
        <div class="col-md-2">
            <button class="btn btn-primary">Buscar</button>
        </div>
        <div class="col-md-2">
            <a href="/trabajador/create" class="btn btn-default pull-right" style="margin-bottom: 10px;">Crear</a>
        </div>

    </div>
    <div class="row">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>DNI</th>
                    <th>Nombres</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ViewBag.listaTrabajadores)
                {
                    <tr>
                        <td>@item.Dni</td>
                        <td>@item.NombreCompleto</td>
                        <th>
                            <button type="submit" name="operacion" value="agregar-detalle-@item.Id" aria-hidden="true" class="btn btn-success btn-xs">
                                <span class="glyphicon glyphicon-plus"></span>
                            </button>
                        </th>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>



<form action="/trabajador/Asignar/@Model.Id" method="post" class="form-horizontal">

    <div class="form-group">
        <label class="col-sm-2 control-label">DNI</label>
        <div class="col-sm-4">
            @Html.EditorFor(model => model.Dni, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Nombres</label>
        <div class="col-sm-4">
            @Html.EditorFor(model => model.Nombres, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Apellido Paterno</label>
        <div class="col-sm-4">
            @Html.EditorFor(model => model.ApePat, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Apellido Materno</label>
        <div class="col-sm-4">
            @Html.EditorFor(model => model.ApeMat, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>
    @Html.HiddenFor(model => model.Sexo)
    @Html.HiddenFor(model => model.FechaNac)
    @Html.HiddenFor(model => model.FechaIngreso)
    @Html.HiddenFor(model => model.Direccion)
    @Html.HiddenFor(model => model.Telefono)
    @Html.HiddenFor(model => model.Activo)
    @Html.HiddenFor(model => model.Curriculo)
    @Html.HiddenFor(model => model.Email)
    @Html.HiddenFor(model => model.IdCargo)

    <div class="form-group">
        <div class="col-sm-4">
            <a href="~/Trabajador/index" class="btn btn-primary">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>Volver
            </a>
        </div>
        <div class="col-sm-4">
            <button class="btn btn-success glyphicon glyphicon-plus"> GUARDAR</button>
        </div>
    </div>
</form>


