﻿@model PYVA.Models.Trabajador

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-md-12 col-md-offset-0">
    <legend class="panel-footer">Detalle Trabajador</legend>
</div>
<div class="container" style="margin-top: 5px;">
    <div class="row">
        <div class="col-md-10 col-md-offset-3">
            <form action="/trabajador/create" method="post" class="form-horizontal">
                    <div>
                        <dl class="dl-horizontal">
                            <dt>
                                DNI :
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Dni)
                            </dd>

                            <dt>
                                Nombres :
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Nombres)
                            </dd>

                            <dt>
                                Apellido Paterno :
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.ApePat)
                            </dd>

                            <dt>
                                Apellido Materno :
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.ApeMat)
                            </dd>

                            <dt>
                                Sexo :
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Sexo)
                            </dd>

                            <dt>
                                Fecha Nacimiento :
                            </dt>

                            <dd>
                                @Model.FechaNac.ToShortDateString()
                            </dd>

                            <dt>
                                Fecha de Ingreso :
                            </dt>

                            <dd>
                                @Model.FechaIngreso.ToShortDateString()
                            </dd>

                            <dt>
                                Direccion :
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Direccion)
                            </dd>

                            <dt>
                                Telefono :
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Telefono)
                            </dd>

                            <dt>
                                En Actividad :
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Activo)
                            </dd>

                            <dt>
                                Curriculo :
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Curriculo)
                            </dd>

                            <dt>
                                Email :
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Email)
                            </dd>

                            <dt>
                                Cargo :
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Cargo.NombreCargo)
                            </dd>

                        </dl>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-4">
                            <a href="~/Trabajador/index" class="btn btn-primary">
                                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>Volver
                            </a>
                        </div>
                        <div class="col-sm-4">
                            <a href="~/Trabajador/Edit/@Html.DisplayFor(model => model.Id)" class="btn btn-danger">
                                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>Editar
                            </a>
                        </div>
                    </div>
               </form>
        </div>
    </div>
</div>

