﻿@model PYVA.Models.Trabajador

<div class="col-md-12 col-md-offset-0">
    <legend class="panel-warning">Editar Trabajador</legend>
</div>
<div class="container" style="margin-top: 5px;">
    <div class="row">
        <div class="col-md-10 col-md-offset-3">
            <form action="/trabajador/edit/@Model.Id" method="post" class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">DNI</label>
                        <div class="col-sm-4">
                            @Html.EditorFor(model => model.Dni, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessage("Dni", new { @class = "text-danger" })

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Nombres</label>
                        <div class="col-sm-4">
                            @Html.EditorFor(model => model.Nombres, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessage("Nombres", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Apellido Paterno</label>
                        <div class="col-sm-4">
                            @Html.EditorFor(model => model.ApePat, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessage("ApePat", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Apellido Materno</label>
                        <div class="col-sm-4">
                            @Html.EditorFor(model => model.ApeMat, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessage("ApeMat", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Sexo</label>
                        <div class="col-sm-4">

                            @Html.DropDownListFor(model => model.Sexo, new SelectList(
                  new List<Object>{
                       new { value = "" ,text = "Seleccionar"  },
                       new { value = "M" , text = "Masculino" },
                       new { value = "F" , text = "Femenino"}
                    },
                  "value",
                  "text",
                           ""), htmlAttributes: new { @class = "form-control" })

                            @Html.ValidationMessage("Sexo", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Fecha Nacimiento</label>
                        <div class='col-sm-4'>
                            @Html.EditorFor(model => model.FechaNac, new { htmlAttributes = new { id = "datetimepicker1", @class = "form-control" } })
                            @Html.ValidationMessage("FechaNac", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Fecha Ingreso</label>
                        <div class='col-sm-4'>
                            @Html.EditorFor(model => model.FechaIngreso, new { htmlAttributes = new { id = "datetimepicker2", @class = "form-control" } })
                            @Html.ValidationMessage("FechaIngreso", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Direccion</label>
                        <div class="col-sm-4">
                            @Html.EditorFor(model => model.Direccion, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessage("Direccion", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Telefono</label>
                        <div class="col-sm-4">
                            @Html.EditorFor(model => model.Telefono, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessage("Telefono", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Activo</label>
                        <div class="col-sm-4">
                            @Html.EditorFor(model => model.Activo)
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Curriculo</label>
                        <div class="col-sm-4">
                            @Html.EditorFor(model => model.Curriculo)
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">E-mail</label>
                        <div class="col-sm-4">
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { placeholder = "aabbcc@ejemplo.com", @class = "form-control" } })
                            @Html.ValidationMessage("Email", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Cargo</label>
                        <div class="col-sm-4">
                            @Html.DropDownList("IdCargo", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.IdCargo, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="col-md-5 col-md-offset-3">
                        <div class="col-sm-4">
                            <a href="~/Trabajador/index" class="btn btn-primary">
                                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>Volver
                            </a>
                        </div>
                        <div class="col-sm-2">
                            <button type="submit" class="btn btn-success" aria-hidden="true">
                                <span class="glyphicon glyphicon-ok"></span> Crear
                            </button>
                        </div>
                    </div>
            </form>
        </div>
    </div>
</div>