﻿
@{
    ViewBag.Title = "Inicio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Trabajadores</h2>

@if (TempData["UpdateSuccess"] != null)
{
    <div class="alert alert-success">@TempData["UpdateSuccess"]</div>
}

    

    <form action="/trabajador" method="get">

        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <input type="text" name="query" class="form-control" placeholder="Buscar" />
                </div>
                <div class="col-md-2">
                    <select class="form-control" name="activo">
                        <option>Todos</option>
                        <option value=true>Activo</option>
                        <option value=false>No Activos</option>
                    </select>
                </div>
                <div class="col-md-2">
                    <button class="btn btn-primary">Buscar</button>
                </div>
                <div class="col-md-5">
                    <a href="~/trabajador/create" class="btn btn-success">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Crear
                    </a>
                </div>
                
            </div>   
        </div>
    </form>

    
    <div class="container">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>DNI</th>
                    <th>Nombres</th>
                    <th>FechaIngreso</th>
                    <th>Telefono</th>
                    <th>Cargo</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Dni</td>
                        <td>@item.NombreCompleto</td>
                        <td>@item.FechaIngreso.ToShortDateString()</td>
                        <td>@item.Telefono</td>
                        <td>@item.Cargo.NombreCargo</td>
                        <td>
                            @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
                            @Html.ActionLink("Detalles", "Details", new { id = item.Id }) |
                            @Html.ActionLink("Eliminar", "Delete", new { id = item.Id })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>    
    



    

