﻿@model PYVA.Models.EPP

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-md-12 col-md-offset-0">
    <legend class="panel-primary">Crear EPP</legend>
</div>

<div class="container" style="margin-top: 10px;">
    <div class="row">
        <div class="col-md-10 col-md-offset-3">
            <form action="/epp/create" method="post" class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Nombre :</label>
                        <div class="col-sm-4">
                            @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessage("Nombre", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Talla :</label>
                        <div class="col-sm-4">
                            @Html.DropDownListFor(model => model.Talla, new SelectList(new List<Object>{
                            new { value = "" ,text = "Seleccionar"  },
                            new { value = "S" , text = "S" },
                            new { value = "M" , text = "M"},
                            new { value = "L" , text = "L"},
                            new { value = "XL" , text = "XL"},
                            new { value = "XXL" , text = "XXL"}
                        },
                        "value",
                        "text",
                           ""), htmlAttributes: new { @class = "form-control" })

                            @Html.ValidationMessage("Talla", new { @class = "text-danger" })

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Stock :</label>
                        <div class="col-sm-4">
                            @Html.TextBoxFor(model => model.Stock, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Stock)
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Descontinuado :</label>
                        <div class="col-sm-1">
                            @Html.EditorFor(model => model.Descontinuado, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Tipo :</label>
                        <div class="col-sm-4">
                            @Html.EditorFor(model => model.Tipo, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessage("Tipo", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Clasificacion: </label>
                        <div class="col-sm-4">
                            @Html.DropDownList("IdClasificacion", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.IdClasificacion, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-5 col-md-offset-3">
                        <div class="col-sm-4">
                            <a href="~/Trabajador/index" class="btn btn-primary">
                                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>Volver
                            </a>
                        </div>
                        <div class="col-sm-2">
                            <button type="submit" class="btn btn-success" aria-hidden="true">
                                <span class="glyphicon glyphicon-ok"></span> Crear
                            </button>
                        </div>
                    </div>
            </form>
        </div>
    </div>
</div>

