﻿@model PYVA.Models.EPP

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-md-12 col-md-offset-0">
    <legend class="panel-footer">Detalle Epp</legend>
</div>
<div class="container panel-footer">
    <div class="row">
        <div class="col-md-10 col-md-offset-3">
            <form action="/trabajador/create" method="post" class="form-horizontal">
              
                    <div>
                        <dl class="dl-horizontal">
                            <dt>
                                Nombre :
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Nombre)
                            </dd>

                            <dt>
                                Talla :
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Talla)
                            </dd>

                            <dt>
                                Stock :
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Stock)
                            </dd>

                            <dt>
                                Descontinuado :
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Descontinuado)
                            </dd>

                            <dt>
                                Tipo: 
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Tipo)
                            </dd>

                            <dt>
                                Clasificacion :
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Clasificacion.Nombre_Clasificacion)
                            </dd>

                        </dl>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4">
                            <a href="~/epp/index" class="btn btn-primary">
                                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>Volver
                            </a>
                        </div>
                        <div class="col-sm-4">
                            <a href="~/epp/edit/@Html.DisplayFor(model => model.Id)" class="btn btn-danger">
                                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>Editar
                            </a>
                        </div>
                    </div>
                
            </form>
        </div>
    </div>
</div>
