﻿@{
    ViewBag.Title = "Inicio";
}

<h2>Epp</h2>

@if (TempData["UpdateSuccess"] != null)
{
    <div class="alert alert-success">@TempData["UpdateSuccess"]</div>
}

<form action="/epp" method="get" style="alialign-content:all">

        <div class="row">
            <div class="col-md-5">
                <input type="text" name="query" class="form-control" placeholder="Buscar" />
            </div>
            <div class="col-md-3">
                <button class="btn btn-primary">Buscar</button>
            </div>
            <div class="col-md-2>
                
            </div>
            <div class="col-md-5">
                <a href="~/epp/create" class="btn btn-success">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Crear
                </a>
            </div>
            
        </div>
    
</form>

<table class="table table-striped" >
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Talla</th>
                <th>Stock</th>
                <th>Descontinuado</th>                
                <th>Tipo</th>
                <th>Clase</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Nombre</td>
                    <td>@item.Talla</td>
                    <td>@item.Stock</td>
                    <td>@item.Descontinuado</td>
                    <td>@item.Tipo</td>

                    <td>@item.Clasificacion.Nombre_Clasificacion</td>
                    <td>
                        @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Detalles", "Details", new { id = item.Id }) |
                        @Html.ActionLink("Eliminar", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }
        </tbody>
    </table>
