﻿<h3>Create Clasificacion</h3>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <form action="/clasificacion/create" method="post">

            <div class="form-group">
                <label for="">Nombre</label>
                <input type="text" name="Nombre_Clasificacion" class="form-control" placeholder="Nombre_Clasificacion" />
            </div>

            <button class="btn btn-primary">Guardar</button>

        </form>
    </div>

</div>