﻿@model PYVA.Models.Clasificacion

@{
    ViewBag.Title = "Detalles de Trabajador";
}

<h2>Details</h2>

<form class="form-horizontal">
    <div class="form-group">
        <label class="col-sm-2 control-label">Id:</label>
        <div class="col-sm-10">
            <p class="form-control-static">@Html.DisplayFor(model => model.Id)</p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Nombres</label>
        <div class="col-sm-10">
            <p class="form-control-static">@Html.DisplayFor(model => model.Nombre_Clasificacion)</p>
        </div>
    </div>
    <div class="form-group">
        <a href="~/Trabajador/index" class="btn btn-primary">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>Volver
        </a> 
        <a href="~/Trabajador/Edit/@Html.DisplayFor(model => model.Id)" class="btn btn-primary">
            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>Editar
        </a>   
    </div>
</form>