﻿<h2>Edit</h2>>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <form action="/clasificacion/edit/@Model.Id" method="post">

            <div class="form-group">
                <label for="">Nombre</label>
                <input type="text" name="Nombre_Clasificacion" class="form-control" placeholder="Nombre_Clasificacion" value="@Model.Nombre_Clasificacion" />
                @*@Html.EditorFor(model => Model.Nombre_Clasificacion)*@
            </div>

            <button class="btn btn-primary">Guardar</button>

        </form>
    </div>
</div>