﻿@{
    ViewBag.Title = "Inicio";
}

<h2>Clasificacion</h2>
@if (TempData["UpdateSuccess"] != null)
{
    <div class="alert alert-success">@TempData["UpdateSuccess"]</div>
}

    <a href="/clasificacion/create" class="btn btn-default pull-right" style="    margin-bottom: 10px;">Crear</a>

    <form action="/clasificacion" method="get">

        <div class="row">
            <div class="col-md-3">
                <input type="text" name="query" class="form-control" placeholder="Buscar" />
            </div>
            <div class="col-md-4">
                
            </div>
            <div class="col-md-2">
                <button class="btn btn-primary">Buscar</button>
            </div>
        </div>
    </form>

<table class="table table-striped" >
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Nombre_Clasificacion</td>

                    <td>
                        @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Detalles", "Details", new { id = item.Id }) |
                        @Html.ActionLink("Eliminar", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }
        </tbody>
    </table>
